/* Основен контейнер за секцията */
#services {
    padding: 4rem 2rem;
    position: relative;
}

/* Заглавие на секцията */
#services h2 {
    color: #fff;
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #0fa,
        0 0 21px #0fa;
    margin-bottom: 3rem;
}