<section id="about" class="section">
    <h2 class="text-4xl font-bold mb-8 text-center soft-green-text">За нас</h2>
    <p class="text-lg soft-green-text mb-4 text-center">Core AI Solutions е екип от страстни експерти по изкуствен интелект. Нашата мисия е да предоставим на бизнеса инструментите, от които се нуждаят, за да се адаптират към бъдещето. Имаме дългогодишен опит в сектора и сме горди с множеството успешни проекти.</p>
    <div class="flex justify-center">
        <a href="/pages/about.html" class="mt-4 inline-block text-center px-4 py-2 bg-cyan-600 hover:bg-cyan-700 text-white rounded-md font-bold transition-colors duration-300">повече...</a>
    </div>
</section>