<section id="about" class="section py-8 mb-12">
    <h2 class="text-4xl font-bold mb-8 text-center soft-green-text">За нас</h2>
    <div class="grid grid-cols-1 gap-8">
        <div class="service-card">
            <div class="content">
                <div class="progress-line"></div>
                <p class="text-lg soft-green-text mb-4 text-center">Core AI Solutions е екип от страстни експерти по изкуствен интелект. Нашата мисия е да предоставим на бизнеса инструментите, от които се нуждаят, за да се адаптират към бъдещето. Имаме дългогодишен опит в сектора и сме горди с множеството успешни проекти.</p>
            </div>
            <div class="text-center mt-6">
                <a href="/pages/about.html" class="btn-more">повече</a>
            </div>
        </div>
    </div>
</section>