<header class="header-container">
    <div class="header">
        <a href="../index.html" class="logo">
            <span class="cais">CAIS</span>
            <span class="ai hidden md:inline-block">AI</span>
        </a>
        <nav>
            <ul id="nav-links">
                <li><a href="#home">Начало</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#about">За нас</a></li>
                <li><a href="#blog">Блог</a></li>
                <li><a href="#contact">Контакти</a></li>
            </ul>
        </nav>
    </div>
</header>