<header class="header-container fixed top-0 left-0 right-0 z-50 bg-white shadow-md">
    <div class="header container mx-auto px-4 py-2 flex justify-between items-center">
        <a href="../index.html" class="logo flex items-center">
            <img src="../images/logo v2.png" alt="CAIS AI Logo" class="h-8 w-auto" style="max-height: 80px;">
        </a>
        <nav>
            <ul id="nav-links">
                <li><a href="#home">Начало</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#about">За нас</a></li>
                <li><a href="#blog">Блог</a></li>
                <li><a href="#contact">Контакти</a></li>
            </ul>
        </nav>
    </div>
</header>