<section id="portfolio" class="section py-8 mb-12">
    <h2 class="text-4xl font-bold mb-8 text-center soft-green-text">Портфолио</h2>
    <div class="grid md:grid-cols-2 gap-8">
        <div class="service-card">
            <div class="content">
                <div class="progress-line"></div>
                <h3>Кейс: Оптимизация на логистиката</h3>
                <p><b>Преди:</b> Неефективно разпределение на маршрутите. <br><b>След:</b> Интегриран AI модел, който намали разходите за гориво с 15% и оптимизира времето за доставка.</p>
            </div>
            <div class="text-center mt-6">
                <a href="/pages/logistics-optimization.html" class="btn-more">повече</a>
            </div>
        </div>
        <div class="service-card">
            <div class="content">
                <div class="progress-line"></div>
                <h3>Кейс: Персонализиран чатбот</h3>
                <p><b>Преди:</b> Висока натовареност на екипа за поддръжка. <br><b>След:</b> Чатбот, който обработва 70% от запитванията, освобождавайки екипа за по-сложни задачи.</p>
            </div>
            <div class="text-center mt-6">
                <a href="/pages/personalized-chatbot.html" class="btn-more">повече</a>
            </div>
        </div>
    </div>
</section>